* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

body {
  /* background-color: hsl(0, 0%, 98%); */
  /* background: hsl(235, 21%, 11%); */
}
